/* Override CSS*/
.page-content{
	background-color: #fff;
}

@font-face {
       

        font-family: "Gigi";
        src: url("../fonts/GIGI.ttf");

         font-family: "Montserrat";
        src: url("../fonts/Montserrat-Medium.ttf");
    }

*{
    font-family: "Montserrat";
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Build custom CSS for Devices mainly iOS and Android */
.ios {
  --f7-picker-column-font-size: 16px;

  --f7-navbar-font-size: 16px;

  --f7-list-font-size: 14px;

  --f7-toolbar-font-size: 16px;

  --f7-tabbar-icon-size: 22px;

  --f7-dialog-font-size: 14px;

  --f7-dialog-preloader-size: 24px;

  --f7-dialog-title-font-size: 20px;

  --f7-dialog-width: 250px;
}



.md {
  --f7-picker-column-font-size: 16px;

  --f7-navbar-font-size: 14px;

  --f7-list-font-size: 14px;

  --f7-toolbar-font-size: 11px;

  --f7-tabbar-icon-size: 20px;

  --f7-dialog-font-size: 14px;

  --f7-dialog-preloader-size: 24px;

  --f7-dialog-title-font-size: 20px;

  --f7-dialog-width: 250px;
}







body{
	font-size: 12px;
}
.text-center{
	text-align:center;
}
.swiper-pagination-bullet-active{
	background-color: #ffffff !important;
	width:20px;
	
}
.swiper-pagination-bullet{
	margin-right:10px;
}
div.invoice-item::before{
	display: none !important;
}
.keyboard-open{
	font-size: 13px !important;
}
.popup{
	background-color: #fff;
}
#chtAnimatedBarChart2 rect.bar_item{
	fill: #e4291c !important;
}

#chtAnimatedBarChart2 text.title-text{
	fill: #e4291c !important;
}

#chtAnimatedBarChart2 li div{
	background-color: #e4291c !important;
}
.popover-inner .list ul li a span{
	font-size: 14px !important;
}

.three-buttons{
	font-size: 9px !important;
}